.task {
	width: 100%;
	flex: 1;
	display: flex;
	cursor: move;
	padding: 0.9rem 0.5rem;
	border-bottom: 2px solid transparent;

	&-dragover {
		border-bottom: 2px solid currentColor;
	}

	&__text {
		text-align: start;
		flex: 16;
	}
	&__close-icon {
		width: 1rem;
		height: 1rem;
		fill: black;
		margin-right: 0.5rem;
		transform: scale(0.5);
		display: inline;
		transition: all 0.2s;
		cursor: pointer;

		@media (hover: hover) {
			&:hover {
				fill: red;
				transform: rotate(90deg) scale(0.5);
			}
		}
		&:active {
			fill: rgba(151, 6, 6, 0.589);
		}
	}
}
