.newtask {
	margin-top: 1.5rem;
	width: 100%;
	padding: var(--padding-default);
	border-radius: 5px;
	border: none;
	display: flex;
	align-items: center;

	&__input {
		border: none;
		font-family: inherit;
		outline: none;
		flex: 1;
		background-color: inherit;
		color: inherit;
		border-radius: 0;
		margin-right: auto;
		display: inline-block;
		&:focus:invalid {
			border-bottom: 1px solid red;
		}
	}

	&__checkbox:checked + &__button &__icon {
		background-image: url(../../images/icon-check.svg);
		background-size: cover;
	}

	&__form {
		width: 100%;
		display: flex;
		align-items: center;
	}
}

.btn-arrow {
	cursor: pointer;
	transition: all 0.2s;
	background: inherit;
	border: none;
	font-family: inherit;
	color: inherit;
	&:hover {
		color: blue;
	}
	&:active {
		transform: scale(1.5);
	}
	&:focus {
		outline: none;
	}
}

@media only screen and (min-width: 1440px) {
	.newtask {
		padding: var(--padding-large);
	}
}
