.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__title {
		color: var(--very-light-grey);
		font-weight: 700;
		letter-spacing: 0.5rem;
		margin-right: auto;
		font-size: 1rem;
		cursor: auto;
	}
	&__icon {
		cursor: pointer;
	}
}
