:root {
	--very-light-grey: hsl(0, 0%, 98%);
	--very-grayish-blue: hsl(236, 9%, 61%);
	--gradient-1: hsl(192, 100%, 67%);
	--gradient-2: hsl(280, 87%, 65%);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	margin: 0;
	font-size: 112.5%; //18px
}

body {
	font-size: inherit;
	font-family: 'Josefin Sans', sans-serif;
}

.app {
	padding: 3rem 1.5rem;
	height: 100vh;
	background-size: auto;
	background-repeat: no-repeat;
}
