.list {
	list-style: none;
	margin-top: 2rem;
	background-color: inherit;
	border-radius: 5px;

	&__item {
		overflow: hidden;

		background-color: inherit;
		border-bottom: 0.5px solid var(--very-grayish-blue);

		&:first-child {
			border-top-right-radius: inherit;
			border-top-left-radius: inherit;
		}
	}
}
